psycopg2-binary
SQLAlchemy
python-dotenv
supabase

pandas
numpy
polars
matplotlib
seaborn
plotly
missingno
pyarrow
statsmodels

selenium
beautifulsoup4

scikit-learn
mlxtend
underthesea
imbalanced-learn

streamlit
pandas
plotly
fastapi
uvicorn
pydantic
google-genai
requests
